body {
	background-color: #E8E8E8;
	font-family: Arial;
}
.top-image {
	width: 98%;
	padding: 1%;
}
.game-table {
	width: 99%;
	background-color: #BDBDBD;
}
.buttons{
	width: 80%;
	height: 30px;
	margin-left: 5%;
	margin-right: 5%;
	padding: 5%;
	text-align: center;
	line-height: 30px;
	background-color: #BDBDBD;
	display: block;
	border-radius: 4px;
}
.box{
	width: 80%;
	margin-left: 5%;
	margin-right: 5%;
	padding: 5%;
	text-align: center;
	line-height: 30px;
	background-color: #BDBDBD;
	display: block;
	border-radius: 4px;
}
.block{
	border-radius: 3px;
	background-size: 100%;
	display: inline-block;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.size2{
	width: 47%;
	margin: 1%;
	padding-bottom: 47%;
}

.color0{
	background-image: url("images/square-blue.png");
}
.color1{
	background-image: url("images/square-red.png");
}
.color2{
	background-image: url("images/square-green.png");
}
.color3{
	background-image: url("images/square-yellow.png");
}
.color4{
	background-image: url("images/square-purple.png");
}
.no-color{
	background-image: url("images/square-gray.png");
}

#currentPlace{
	width: 100%;
	margin-top: 10px;
}

.choise {
	border-radius: 3px;
	background-size: 100%;
	display: inline-block;
	width: 30%;
	padding-bottom: 30%;
}