body {
	background-color: #E8E8E8;
	font-family: Arial;
}
.top-image {
	width: 98%;
	padding: 1%;
}
.game-table {
	width: 99%;
	background-color: #BDBDBD;
}
.buttons{
	width: 80%;
	height: 30px;
	margin-left: 5%;
	margin-right: 5%;
	padding: 5%;
	text-align: center;
	line-height: 30px;
	background-color: #BDBDBD;
	display: block;
	border-radius: 4px;
}
.box{
	width: 80%;
	margin-left: 5%;
	margin-right: 5%;
	padding: 5%;
	text-align: center;
	line-height: 30px;
	background-color: #BDBDBD;
	display: block;
	border-radius: 4px;
}
.block{
	border-radius: 3px;
	background-size: 100%;
	display: inline-block;
}
.size2{
	width: 47%;
	margin: 1%;
	padding-bottom: 47%;
}

.color0{
	background-image: url("images/square-blue.png");
}
.color0{
	background-image: url("images/square-red.png");
}
.color0{
	background-image: url("images/square-green.png");
}
.color0{
	background-image: url("images/square-yellow.png");
}
.color0{
	background-image: url("images/square-purple.png");
}
