body {
	background-color: #E8E8E8;
	font-family: Arial;
}
.top-image {
	width: 98%;
	padding: 1%;
}
.game-table {
	width: 99%;
	padding: 0.5%;
	background-color: #BDBDBD;
}
.buttons{
	width: 80%;
	height: 30px;
	margin-left: 5%;
	margin-right: 5%;
	padding: 5%;
	text-align: center;
	line-height: 30px;
	background-color: #BDBDBD;
	display: block;
	border-radius: 4px;
}